# Framework principal
Django==3.1.12

# Django REST framework
djangorestframework==3.16.1

# Dependências de tempo e datas
pytz==2025.2
python-dateutil==2.9.0
sqlparse>=0.4.4

# Servidor WSGI para produção
gunicorn==23.0.0

# Suporte ASGI
asgiref==3.8.1

# Manipulação de imagens
Pillow==10.3.0

# DNS para possíveis integrações
dnspython==2.7.0

