# Framework principal
Django==4.2.23

# Django REST Framework
djangorestframework==3.16.1

# Banco de dados
psycopg2-binary==2.9.8  # se usar PostgreSQL
# mysqlclient==2.2.0    # se usar MySQL
# OBS: Se usar SQLite, não precisa de pacote adicional

# Fuso horário
pytz==2025.2

# Datas
python-dateutil==2.9.0

# SQL parser
sqlparse==0.5.3

# Servidor WSGI
gunicorn==23.0.0

# Pillow para imagens
Pillow==10.3.0

# DNS para integração com Mongo (se precisar)
dnspython==2.7.0

# WhiteNoise para servir arquivos estáticos
whitenoise==6.6.0
pybrcode==0.4.2
